<a href="#/question/new">Create New Question</a>

<div ng-repeat="question in questions | orderBy:'-id'">
<a ng-href="#/question/{{question.id}}">{{question.id}}</a><br>
{{question.title}} <br>
{{question.content}} <br>
{{question.tags}} <br>
{{question.createdAt}} <br>
{{question.user.username}}<br>
Rate : {{question.likeDislike}}<br>
L : {{question.rateLike}}<br>
D : {{question.rateDislike}}<br>
<br>
L<input type="radio" name="{{question.id}}" id="radio1" ng-checked="question.rateLike" ng-click="like(question.id)">
D<input type="radio" name="{{question.id}}" id="radio2" ng-checked="question.rateDislike" ng-click="dislike(question.id)">
<br><br>
</div>
