{{question.title}} <br>
{{question.content}} <br>
{{question.tags}} <br>
{{question.createdAt}} <br>
{{question.user.username}}<br><br>

Answers:<br>
<div ng-repeat ="answer in question.answers">
  {{answer.content}} <br>
  {{answer.createdAt}} <br>
  {{answer.user.id}} - {{answer.user.username}}<br>
  Rate : {{answer.likeDislike}}<br>
  L : {{answer.rateLike}}<br>
  D : {{answer.rateDislike}}<br>
  L<input type="radio" name="{{answer.id}}" id="radio1" ng-checked="answer.rateLike" ng-click="likeAnswer(answer.id)">
  D<input type="radio" name="{{answer.id}}" id="radio2" ng-checked="answer.rateDislike" ng-click="dislikeAnswer(answer.id)">
<br><br>
</div>

<div ng-show="isLoggedIn">
<div class="answer">
    <h4>Create a new answer:</h4>
    <form method="post" ng-submit="answerQuestion()">
        <p><input type="text" name="content" value="" placeholder="Answer.." ng-model="answer.content"></p>
        <p class="submit"><input type="submit" name="commit" value="Answer!"></p>
        <p>{{error}}</p>
    </form>
    <a href="#/">Home Page</a><br>
</div>

</div>
