<div class="register">
    <h1>Register</h1>
    <form method="post" ng-submit="signUp()">
      <p><input type="text" name="name" value="" placeholder="Name" ng-model="name"></p>
        <p><input type="text" name="username" value="" placeholder="Username" ng-model="username"></p>
        <p><input type="text" name="email" value="" placeholder="Email" ng-model="email"></p>
        <p><input type="password" name="password" value="" placeholder="Password" ng-model ="password"></p>
        <p class="submit"><input type="submit" name="commit" value="Register"></p>
        <p>{{error}}</p>
    </form>
    <a href="#/">Home Page</a><br>
</div>
