<style>
    .body-right-container {
        position: absolute;
        right: 0;
        height: calc(100vh - 149px);
        width: 400px;
        overflow: auto;
    }
    
    .body-left-container {
        margin-right: 400px;
        height: calc(100vh - 106px);
        display: block;
    }
    
    .question-box {
        border-bottom: solid 1px #bdc3c7;
        display: block;
        margin: 15px 3% 15px 10%;
        height: 150px;
        max-height: 150px;
        min-width: 500px;
    }
    
    .question-topbar {
        display: block;
        height: auto;
        padding: 10px;
        border-bottom: solid 1px #f7f7f9;
    }
    
    .question-create {
        display: inline-block;
        line-height: 30px;
        cursor: pointer;
        user-select: none;
    }
    
    a:hover {
        text-decoration: none;
    }
    
    .question-item-list {
        padding-top: 15px;
        display: block;
        height: calc(100% - 50px);
        overflow: hidden;
    }
    
    .question-item-list:hover {
        overflow: auto;
    }
    
    .question-box-statistics-column {
        height: inherit;
        width: 75px;
    }
    
    .question-box-content-column {
        display: block;
        height: inherit;
        margin-left: 75px;
        margin-top: -150px;
    }
    
    .number-of-answers {
        display: block;
        height: 50%;
        text-align: center;
    }
    
    .question-tag {
        display: inline-block;
        padding: 3px;
        margin: 3px;
        background-color: #edf3ff;
        color: #478dff;
    }
    
    .question-user-info {
        display: inline-block;
        height: inherit;
        float: right;
        text-align: right;
        line-height: 18px;
    }
    
    .question-tag-container {
        float: left;
        display: inline-block;
    }
    
    .username {
        display: block;
    }
    
    .user-info {
        display: inline-block;
    }
    
    .profile-picture {
        display: inline-block;
        float: right;
        background-size: cover;
        background-repeat: no-repeat;
        width: 39px;
        height: 39px;
        margin-left: 7px;
    }
</style>
<div class="container-fluid" style="padding: 15px 0 0 0">
    <div class="col-lg-9 col-md-9 col-sm-9">
        <nav class="navbar navbar-light bg-faded">
            <div class="btn btn-secondary btn-sm pull-left" style="margin-right: 15px" data-toggle="modal" data-target=".bd-example-modal-lg">
                <i class="fa fa-fw fa-list-alt"></i> Create New Video Playlist
            </div>
            <div class="input-group" style="width: auto;">
                <span class="input-group-addon form-control-sm" id="basic-addon1">
                    <i class="fa fa-fw fa-search"></i>
                </span>
                <input class="form-control form-control-sm" type="text" placeholder="Search" ng-model="search">
            </div>
        </nav>
        
        <div class="card" style="max-width:318px; display:inline-block">
            <img class="card-img-top" src="./img/covers/java.jpg" width="316" height="180" alt="Card image cap">
            <div class="card-block">
                <a href="#/video/1"></rb>
                    <h4 class="card-title">Java Beginner Programming Tutorial</h4>
                </a>
                <p class="card-text">Introductin To Java Programming</p>
            </div>
            <div class="card-block">
                <a href="#" class="card-link">malukah</a>
                <button type="button" class="btn btn-danger">Danger</button>
            </div>
        </div>

        <div class="card" style="max-width:318px; display:inline-block" ng-repeat="video in videos | filter: search">
            <img class="card-img-top" ng-src="{{video.imgUrl}}" width="316" height="180" alt="Card image cap">
            <div class="card-block">
                <a href="#/video/{{video.id}}">
                    <h4 class="card-title">{{video.title}}</h4>
                </a>
                <p class="card-text">{{video.description}}</p>
            </div>
            <div class="card-block">
                <a href="#/profile/{{video.user.username}}" class="card-link">{{video.user.username}}</a>
            </div>
        </div>
        
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
        <small>
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                    New Video Top List
                </div>
                <ul class="list-group">
                    <div ng-repeat="video in videos | orderBy:'-id' | limitTo: 5" >
                  <a ng-href="#/video/{{video.id}}"><li class="list-group-item"><i class="fa fa-play-circle" aria-hidden="true"></i> {{video.title}}</li></a>
                  </div>
                </ul>
            </div>
        </small>
    </div>
</div>


<div id="modal-answer" class="modal fade bd-example-modal-lg" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myLargeModalLabel">New Playlist!</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert" ng-show="error">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{error}}
                </div>
                <form method="post" ng-submit="createPlayList()">
                    <div class="input-group" style="width: auto;">
                        <span class="input-group-addon form-control-sm" id="basic-addon1">
                          <i class="fa fa-fw fa-indent"></i>
                      </span>
                        <input class="form-control form-control-sm" type="text" placeholder="Title" ng-model="title" ng-required="true">
                    </div>
                    <div class="input-group" style="width: auto;">
                        <span class="input-group-addon form-control-sm" id="basic-addon1">
                          <i class="fa fa-fw fa-list-ul"></i>
                      </span>
                        <input class="form-control form-control-sm" type="text" placeholder="Description" ng-model="description" ng-required="true">
                    </div>
                    <input type="file" file-model="myFile" accept=".jpg,.jpeg,.png" ng-required="true" />
                    <input type="submit" class="btn btn-outline-danger btn-lg btn-block" style="margin-top: 7px" name="commit" value="Create!"
                    />
                </form>
            </div>
        </div>
    </div>
</div>