<style>
    a:hover {
        text-decoration: none;
    }
    
    .question-tag {
        display: inline-block;
        padding: 3px;
        margin: 3px;
        background-color: #edf3ff;
        color: #478dff;
    }
    
    .question-tag-container {
        float: left;
        display: inline-block;
    }
    
    .question-user-info {
        display: inline-block;
        height: inherit;
        float: right;
        text-align: right;
        line-height: 18px;
    }
    
    .username {
        display: block;
    }
    
    .user-info {
        display: inline-block;
    }
    
    .profile-picture {
        display: inline-block;
        float: right;
        background-size: cover;
        background-repeat: no-repeat;
        width: 39px;
        height: 39px;
        margin-left: 7px;
    }
    /*style="border: solid 1px whitesmoke; display: inline-block; padding: 5px 5px 0 5px"*/
</style>
<div class="container-fluid" style="padding-top: 15px">
    <div class="col-lg-9 col-md-9 col-sm-9">
        <div class="container-fluid" style="border-bottom: solid 1px #bdc3c7; padding: 10px; box-shadow: 0px 32px 30px -36px rgba(0,0,0,0.75); margin-bottom: 20px">
            <div class="row">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">Introduction To Android Programming</h4>
                        <h6 class="card-subtitle text-muted">Configure Android SDK</h6>
                    </div>

                    <video id="my-video" class="video-js" controls preload="auto" width="720" height="480" poster="http://vjs.zencdn.net/v/oceans.png" data-setup="{}">
                        <source src="http://vjs.zencdn.net/v/oceans.mp4" type='video/mp4'>
                        <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a web browser that
                            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                        </p>
                    </video>

                    <div class="card-block">
                        <a href="#" class="card-link">Snow</a>
                    </div>
                </div>
                <script src="http://vjs.zencdn.net/5.8.8/video.js"></script>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
        <small>
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-list-alt" aria-hidden="true"></i>
                    Introduction To Android Programming
                </div>

                <ul class="list-group">
                    <li class="list-group-item ng-scope">
                        <a href="#" class="ng-binding">
                            <span class="tag tag-default tag-pill float-xs-right ng-binding">1:30</span>Introduction
                        </a>
                    </li>
                    <li class="list-group-item ng-scope">
                        <a href="#" class="ng-binding">
                            <span class="tag tag-default tag-pill float-xs-right ng-binding">2:50</span>Configure Android SDK
                        </a>
                    </li>
                    <li class="list-group-item ng-scope">
                        <a href="#" class="ng-binding">
                            <span class="tag tag-default tag-pill float-xs-right ng-binding">8:00</span>Create your first Android studio Project
                        </a>
                    </li>
                    <li class="list-group-item ng-scope">
                        <a href="#" class="ng-binding">
                            <span class="tag tag-default tag-pill float-xs-right ng-binding">45:00</span>Programming
                        </a>
                    </li>
                    <li class="list-group-item ng-scope">
                        <a href="#" class="ng-binding">
                            <span class="tag tag-default tag-pill float-xs-right ng-binding">35:00</span>Building
                        </a>
                    </li>
                    <li class="list-group-item ng-scope">
                        <a href="#" class="ng-binding">
                            <span class="tag tag-default tag-pill float-xs-right ng-binding">16:00</span>Testing
                        </a>
                    </li>

                </ul>
            </div>
        </small>
    </div>
</div>